@use "sass:math";
@import "../src/kitty-grid";

body {
  background: #fff;
}

[class^="case"] {
  padding: 15px 0 10px;
  border: 1px solid rgb(197, 197, 197);
  margin-bottom: 30px;
  border-radius: 2px;
  background: #f4f5f6;
}

// element
.element {
  margin-bottom: 5px;
  padding: 25px;
  font-size: 20px;
  border-radius: 2px;

  .mixins & {
    background: #a00dfc;
  }
  .classes & {
    background: #1ec7ff;
  }
  .adaptive & {
    background: #f74838;
  }
}

// row
.mixin-row {
  @include row();
}

// mixin grid
.element {
  .mixins .case-1 & {
    @include col();
    @include size(math.div(4, 12));
  }

  .mixins .case-2 & {
    @include col();
    @include size(math.div(3, 12));
  }

  .mixins .case-3 & {
    @include col();
    @include size(math.div(2, 12));
  }

  .mixins .case-4 & {
    @include col();
    @include size(math.div(1, 12));
  }

  .mixins .case-1.offset & {
    &:nth-child(1) {
      @include offset(math.div(8, 12));
    }
    &:nth-child(2) {
      @include offset(math.div(4, 12));
    }
  }

  .mixins .case-2.offset & {
    &:nth-child(1) {
      @include offset(math.div(9, 12));
    }
    &:nth-child(2) {
      @include offset(math.div(6, 12));
    }
    &:nth-child(4) {
      @include offset(math.div(3, 12));
    }
  }
}
