/*
* Container class
*/
.container {
  box-sizing: border-box;
  width: 100%;
  // ie11 fallback
  @if map-get($grid-settings, enable-ie-support) == "true" {
    // prettier-ignore
    max-width: calc(#{map-get($grid-settings, grid-variables, content-width, map-get($grid-settings, ie-support-screen))} + #{map-get($grid-settings, grid-variables, mob-padding, map-get($grid-settings, ie-support-screen))} * 2);
    padding: 0 #{map-get($grid-settings, grid-variables, mob-padding, map-get($grid-settings, ie-support-screen))};
  }
  // prettier-ignore
  max-width: calc(var(--content-width) + var(--mob-padding) * 2);
  margin: 0 auto;
  padding: 0 var(--mob-padding);
}

/*
* Generate styles for row class
*/
.row {
  @include row();
}

/*
* Column classes default styles
*/
%column-styles {
  @include col();
}

/*
* Generate styles for column classes
*/
@each $breakpoint, $size in map-get($grid-settings, breakpoints) {
  @if index(map-keys(map-get($grid-settings, breakpoints)), $breakpoint) == 1 {
    @for $i from 0 through map-get($grid-settings, columns) {
      @if $i == 0 {
        .col {
          @extend %column-styles;
          @include size(adaptive); // By default column size is adaptive
        }
      } @else {
        .col-#{$i} {
          @extend %column-styles;
          @include size($i/12);
        }
      }
    }
  } @else {
    @for $i from 1 through map-get($grid-settings, columns) {
      .col-#{$breakpoint}-#{$i} {
        @include breakpoint($breakpoint) {
          @include size($i/12);
        }
      }

      [class*="col-#{$breakpoint}-"] {
        @extend %column-styles;
      }
    }
  }
}

/*
* Generate styles for offset classes
*/
@each $breakpoint, $size in map-get($grid-settings, breakpoints) {
  @if index(map-keys(map-get($grid-settings, breakpoints)), $breakpoint) == 1 {
    @for $i from 1 through map-get($grid-settings, columns) {
      @if $i != map-get($grid-settings, columns) {
        .offset-#{$i} {
          @include offset($i/12);
        }
      }
    }
  } @else {
    @for $i from 1 through map-get($grid-settings, columns) {
      @if $i != map-get($grid-settings, columns) {
        .offset-#{$breakpoint}-#{$i} {
          @include breakpoint($breakpoint) {
            @include offset($i/12);
          }
        }
      }
    }
  }
}
